/* body {
    background-image: url("photos/light.jpg");
} */

.container {
    background-color: #f3f3f3;
}

@media screen and (max-width: 767px) {
    body {
        background-color: green;
    }
    .navbar {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-collapse .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: purple;
    }

    .navbar {
        flex-direction: column;
        /* justify-content: center; */
    }

    .navbar-collapse .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}