/* body {
    background-image: url("photos/light.jpg");
} */

.container {
    background-color: #f3f3f3;
}

@media screen and (max-width: 980px) {
    body {
        background-color: green;
    }
    .container-980 {
        width: 750px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: red;
    }
    
    /* .container-768 {
        width: 630px;
    } */
}

@media screen and (max-width: 640px) {
    body {
        background-color: purple;
    }

    /* .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    } */

    .container-640 {
        width: 500px;
    }
}
