body {
    background-image: url("photos/light.jpg");
}

.container {
    background-color: #f1f1f1;
}
/* 
.container .float-left {
    margin: 1em;
} */

@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-collapse .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-collapse .navbar-nav .nav-link {
        padding-left: 1rem;
    }
}